<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="VenkaDB Test Suite">
            <directory>./VenkaDB</directory>
            <exclude>./VenkaDB/_files/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix='.php'>../src/</directory>
        </whitelist>
    </filter>
</phpunit>
